body,html{
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    
    box-sizing: border-box;
    

    
}


.xw_box{
    width: 860px;
    min-height: 670px;
    background: #fff;
    margin: 0 auto;
    margin-top: 80px;
    overflow: hidden;

}
.xw_header img{
    width: 160px;
    height: 42px;
    margin: 0 auto;
    cursor: pointer;
    
}
.xw_header{
    width: 160px;
    height: 42px;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 60px;
}
.xw_title{
    font-family: HYQiHei-FZS;
    font-size: 22px;
    color: #000;
    text-align: center;
    margin-top: 30px;
}
.xw_box .xw_box{
    margin: 0 auto;
}

.xw_country{
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    width: 362px;
    margin-top: 60px;
    margin-bottom: 100px;
    position: relative;
}
#xw_sel {
   width: 360px;
   height: 48px;
   border: 1px solid #dedfe0;
   -webkit-appearance:none;
   -moz-appearance:none;
   appearance:none; 
   padding-left: 10px;
   outline: none;
   cursor: pointer;}

.xw_ift .icon-xiajiantou{
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 25px;
    cursor: pointer;
}

.xw_ip{
    width: 360px;
   height: 48px;
   margin: 0 auto;
   cursor: pointer;
   display: flex;
   border: 1px solid #dedfe0;
   position: relative;
}

.xw_ift01 .icon-xiajiantou{
    position: absolute;
    top: 7px;
    left: 46px;
    font-size: 25px;
    cursor: pointer;
}
#xw_dh{
    width: 94px;
    height: 46px;
    padding-left: 12px;
    line-height: 46px;
    font-size: 16px;
    color: #000;
    float: left;
    position: relative;
    border: none;
    cursor: pointer;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline: none;
   
}

.xw_ipt{
    float: left;
    width: 264px;
    font-size: 16px;
    color: #252525;
    height: 46px;
    line-height: 46px;
    border: none;
   
}

.xw_ts{
    text-align: left;
    padding-top: 5px;
    color:red;
    display: none;
}

.xw_psw .xw_pas{
   
    width: 360px;
    font-size: 16px;
    height: 46px;
    margin-top: 30px;
    line-height: 46px;  
}
  
.xw_psw .xw_pas{
    padding-left: 10px;
    box-sizing: border-box;
    
}
.xw_psw .xw_pas::-webkit-input-placeholder{ /*WebKit browsers*/

    opacity: 0.6;
}

.xw_tk{
  
   display: flex;
   text-align: center;
   padding-top: 18px;
}
.xw_btn{
    width: 100%;
    height: 48px;
    background-color: #46a1fa;
    background-image: linear-gradient(90deg,#46a1fa,#067df8);
    font-size: 17px;
    color: #fff;
    margin-top: 20px;
    border: none;
    cursor: pointer;
}

.xw_tk .xw_zfx{
    width: 18px;
    height: 18px;
    border: 1px solid #dedfe0;
    margin-top: 1px;
    float: left;
    position: relative;
}

.xw_tk .xw_sp{
    margin-left: 8px;
    color: #252525;
}
.xw_tk a{
    color: #009bfd;
    cursor: pointer;
}
.xw_country p{
    margin-top: 10px;
    font-size: 14px;
    color: #999;
    line-height: 19px;
    padding-bottom: 8px;
}

/* 页面底部 */
#xw_db{
    text-align: center;
    margin-top: 135px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 11px;
    color: #9d9d9d;

}
.xw_db01{
    text-align: center;
    font-size: 11px;
    color: #9d9d9d;
}
.xw_db01 .xw_abq{
  position: relative;
  padding-right: 45px;
}
.xw_db01 .xw_abq .icon-xinxi{
    position: absolute;
    top:-5px;
    left: -19px;
}
.xw_db01 .xw_abq1{
    position: relative;
}
.xw_db01 .xw_abq1 .icon-weibiaoti-{
    position: absolute;
    top: -6px;
    left: -17px;
}
.xw_db02{
    padding: 10px 0;
    font-size: 10px;
    box-sizing: border-box;
}